NEXT_PUBLIC_BASE_URL=http://localhost:4000/api
NEXT_PUBLIC_FILE_URL=http://localhost:4000
AUTH_SECRET=6yuOtU4X6sQnw2BHlFjGO+AMcWvAjjN/XaAs+txG4YZCb8lPUK040Qyne0sfohKe
NEXTAUTH_SECRET=6yuOtU4X6sQnw2BHlFjGO+AMcWvAjjN/XaAs+txG4YZCb8lPUK040Qyne0sfohKe
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
