# Deployment URLs (nginx server_name: www.mom.gov.et)
NEXT_PUBLIC_BASE_URL=https://www.mom.gov.et/api
NEXT_PUBLIC_BASE=https://www.mom.gov.et
NEXT_PUBLIC_FILE_URL=https://www.mom.gov.et
NEXT_PUBLIC_FRONTEND_URL=https://www.mom.gov.et
NEXT_PUBLIC_TIMEZONE=Africa/Addis_Ababa

AUTH_SECRET=6yuOtU4X6sQnw2BHlFjGO+AMcWvAjjN/XaAs+txG4YZCb8lPUK040Qyne0sfohKe
NEXTAUTH_SECRET=6yuOtU4X6sQnw2BHlFjGO+AMcWvAjjN/XaAs+txG4YZCb8lPUK040Qyne0sfohKe
AUTH_URL=https://www.mom.gov.et/api/auth
NEXTAUTH_URL=https://www.mom.gov.et/api/auth
