PORT=4000
JWT_SECRET=6glZRNT0yku7GBVgCLtGBRhxay0qm0D8miu64H9kq76lZzJ82EMxVM9n5I5z15G2
JWT_EXPIRATION_TIME="12h"
DB_USER="postgres"
DB_PASSWORD="root"
DB_NAME="mom_website"
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
FRONTEND_URL="https://www.mom.gov.et"
EMAIL_SERVICE=gmail
EMAIL_HOST=142.251.127.109
EMAIL_PORT=587
EMAIL_SECURE=false       
EMAIL_USER="momsystemsupport@gmail.com"
EMAIL_PASS="dtjimwqftewqvqps" 
EMAIL_FROM="MoM Website <momsystemsupport@gmail.com>"
APP_NAME=MoM Website
SMPP_HOST=
SMPP_PORT=
SMPP_SYSTEM_ID=
SMPP_PASSWORD=
SMPP_SOURCE_ADDR=

BASE_URL="https://www.mom.gov.et"


ACCESS_TOKEN_EXPIRATION = '15m'; // Short-lived access token
REFRESH_TOKEN_EXPIRATION = '7d'; // Longer-lived refresh token
REFRESH_TOKEN_BYTES = 64;


# npx sequelize-cli seed:generate --name seed-projects
# npx sequelize-cli migration:generate --name create-projects
# Drop all tables
# npx sequelize-cli db:migrate:undo:all
# npx sequelize-cli db:seed --seed 20251108201545-demo-users.js
